In [279]:
import pandas as pd
import numpy as np

#pd.set_option('display.max_columns', None)

In [262]:
df=pd.read_excel('D:\\Time.xlsx', header=None, index_col=None)
df.head()

          0                  1                2          3    4
0  9월19일(일)  산업공부(자동차): 1시간14분  인적성(SK): 2시간40분  총: 3시간54분  NaN
1  9월20일(월)    인적성(SK): 2시간31분              NaN        NaN  NaN
2  9월21일(화)   인적성(SK):  3시간58분              NaN        NaN  NaN
3  9월22일(수)    인적성(SK): 1시간31분              NaN        NaN  NaN
4  9월24일(금)           자소서: 5시간              NaN        NaN  NaN

In [263]:
df_date=df.rename(columns={0:'date'})
df_date.head()

       date                  1                2          3    4
0  9월19일(일)  산업공부(자동차): 1시간14분  인적성(SK): 2시간40분  총: 3시간54분  NaN
1  9월20일(월)    인적성(SK): 2시간31분              NaN        NaN  NaN
2  9월21일(화)   인적성(SK):  3시간58분              NaN        NaN  NaN
3  9월22일(수)    인적성(SK): 1시간31분              NaN        NaN  NaN
4  9월24일(금)           자소서: 5시간              NaN        NaN  NaN

In [264]:
# #달을 식별하는 열 추가
# df_date.insert(1,"month",'달')
# df_date.head()

In [265]:
# #달을 식별하는 값 추가
# for i, j in enumerate(df_date['date']):
#     for n, m in enumerate(j):
#         if m == "월":
#             #print(df_date['date'][i][n+1])
#             df_date['month'][i] = df_date['date'][i][n-1]
# df_date

In [266]:
#요일을 식별하는 열 추가
df_date.insert(1,"day",'요일')
df_date.head()

       date day                  1                2          3    4
0  9월19일(일)  요일  산업공부(자동차): 1시간14분  인적성(SK): 2시간40분  총: 3시간54분  NaN
1  9월20일(월)  요일    인적성(SK): 2시간31분              NaN        NaN  NaN
2  9월21일(화)  요일   인적성(SK):  3시간58분              NaN        NaN  NaN
3  9월22일(수)  요일    인적성(SK): 1시간31분              NaN        NaN  NaN
4  9월24일(금)  요일           자소서: 5시간              NaN        NaN  NaN

In [267]:
#요일을 식별하는 값 추가
for i, j in enumerate(df_date['date']):
    for n, m in enumerate(j):
        if m == "(":
            #print(df_date['date'][i][n+1])
            df_date['day'][i] = df_date['date'][i][n+1]
df_date.head()

       date day                  1                2          3    4
0  9월19일(일)   일  산업공부(자동차): 1시간14분  인적성(SK): 2시간40분  총: 3시간54분  NaN
1  9월20일(월)   월    인적성(SK): 2시간31분              NaN        NaN  NaN
2  9월21일(화)   화   인적성(SK):  3시간58분              NaN        NaN  NaN
3  9월22일(수)   수    인적성(SK): 1시간31분              NaN        NaN  NaN
4  9월24일(금)   금           자소서: 5시간              NaN        NaN  NaN

In [268]:
df_date

,date,day,1,2,3,4
0,9월19일(일),일,산업공부(자동차): 1시간14분,인적성(SK): 2시간40분,총: 3시간54분,NaN
1,9월20일(월),월,인적성(SK): 2시간31분,NaN,NaN,NaN
2,9월21일(화),화,인적성(SK): 3시간58분,NaN,NaN,NaN
3,9월22일(수),수,인적성(SK): 1시간31분,NaN,NaN,NaN
4,9월24일(금),금,자소서: 5시간,NaN,NaN,NaN
5,9월25일(토),토,인적성(SK): 5시간,NaN,NaN,NaN
6,9월29일(수),수,기상시간: 9시30분,산업공부(자동차): 2시간26분,NaN,NaN
7,9월30일(목),목,기상시간: 10시30분,자소서(LG전자): 1시간6분,NaN,NaN
8,10월1일(금),금,기상시간: 8시30분,자소서(LG전자): 1시간53분,영어면접: 30분,NaN
9,10월2일(토),토,기상시간: 12시30분,인적성(GSAT): 53분,영어면접: 20분,NaN
10,10월3일(일),일,기상시간: 13시,인적성(포스코): 3시간 43분,영어면접: 33분,NaN
11,10월4일(월),월,기상시간: 7시,자소서(LG전자): 3시간,NaN,NaN
12,10월5일(화),화,기상시간: 10시 30분,영어면접: 33분,NaN,NaN
13,10월6일(수),수,기상시간: 19시,인적성(포스코): 2시간 50분,NaN,NaN
14,10월7일(목),목,기상시간: 9시,인적성(포스코): 1시간 20분,영어면접: 28분,NaN
15,10월8일(금),금,기상시간:18시30분,인적성(포스코): 5시간 6분,NaN,NaN
16,10월9일(토),토,기상시간:8시30분,인적성(포스코): 2시간 30분,NaN,NaN
17,10월10일(일),일,기상시간: 11시,NaN,NaN,NaN
18,10월11일(월),월,기상시간: 10시 15분,면접(포스코): 20분,영어면접: 25분,NaN
19,10월12일(화),화,기상시간: 11시,면접(포스코): 1시간 45분,NaN,NaN
20,10월13일(수),수,기상시간: 10시 30분,면접(영어): 48분,면접(포스코): 8분,NaN
21,10월14일(목),목,기상시간: 10시 30분,자소서(LS): 20분,면접(영어): 30분,자소서(현대제철): 1시간
22,10월21일(목),목,기상시간: 9시 15분,자소서(현대자동차): 1시간 41분,NaN,NaN
23,10월22일(금),금,기상시간: 11시,자소서(현대자동차): 53분,NaN,NaN
24,10월23일(토),토,기상시간: 13시,자소서(현대자동차): 5시간 39분,NaN,NaN
25,10월25일(월),월,기업찾기: 40분,NaN,NaN,NaN
26,10월26일(화),화,기상시간: 10시,"면접(AI,동원): 34분",NaN,NaN
27,10월27일(수),수,기상시간: 10시 45분,기업찾기: 16분,직무공부: 2시간 10분,자소서(ssg): 1시간 50분
28,10월28일(목),목,기상시간: 11시,"면접(AI,동원): 34분",자소서(ssg): 2시간,NaN
29,10월30일(토),토,기상시간: 13시,"면접(AI,동원): 11시간 4분",자소서(한화정밀기계): 23분,NaN
30,10월31일(일),일,기상시간: 10시 15분,"면접(AI,동원): 2시간 30분",자소서(한화정밀기계): 1시간 19분,NaN
31,11월1일(월),월,기상시간: 10시 45분,면접(경동나비엔): 3시간 12분,자소서(이화다이아몬드): 1시간 30분,NaN
32,11월2일(화),화,기상시간: 10시 15분,기업찾기: 24분,면접(경동나비엔): 2시간 49분,NaN
33,11월3일(수),수,기상시간: 12시,자소서(원익): 3시간 10분,NaN,NaN
34,11월4일(목),목,기상시간: 10시 30분,면접(경동나비엔): 1시간 21분,자소서(LG이노텍): 38분,시사이슈: 25분
35,11월5일(금),금,기상시간: 12시,면접(경동나비엔): 1시간 5분,자소서(LG이노텍): 1시간 46분,NaN
36,11월6일(토),토,기상시간: 11시,전공공부: 1시간 13분,NaN,NaN
37,11월8일(월),월,기상시간: 6시,자소서(LG이노텍): 5시간,자소사(고려해운): 1시간 30분,면접(경동나비엔): 5시간 30분
38,11월9일(화),화,기상시간: 10시30분,면접(경동나비엔): 4시간,자소서(현대트랜시스): 2시간 40분,NaN
39,11월10일(수),수,기상시간: 11시,전공공부: 1시간 58분,NaN,NaN
40,11월11일(목),목,기상시간: 9시45분,독서: 37분,시사/이슈: 23분,NaN
41,11월13일(토),토,기상시간: 14시,자기소개서(LIG넥스원): 40분,자기소개서(SK온): 1시간 23분,자기소개서(세아제강): 46분

In [269]:
#기상시간을 식별하는 열 추가
df_date.insert(2,"wakeUp",'기상시간')
df_date.head()

       date day wakeUp                  1                2          3    4
0  9월19일(일)   일   기상시간  산업공부(자동차): 1시간14분  인적성(SK): 2시간40분  총: 3시간54분  NaN
1  9월20일(월)   월   기상시간    인적성(SK): 2시간31분              NaN        NaN  NaN
2  9월21일(화)   화   기상시간   인적성(SK):  3시간58분              NaN        NaN  NaN
3  9월22일(수)   수   기상시간    인적성(SK): 1시간31분              NaN        NaN  NaN
4  9월24일(금)   금   기상시간           자소서: 5시간              NaN        NaN  NaN

In [270]:
#df_date.to_excel("D:\\test.xlsx")

In [271]:
#기상시간을 식별하는 값 추가
for i, j in enumerate(df_date[1]):
    for n, m in enumerate(j):
        if m == "기":
            if df_date[1][i][n+1] == "상":
                df_date['wakeUp'][i] = df_date[1][i][n+5:]
                df_date[1][i] = 'NaN'
df_date.head()

       date day wakeUp                  1                2          3    4
0  9월19일(일)   일   기상시간  산업공부(자동차): 1시간14분  인적성(SK): 2시간40분  총: 3시간54분  NaN
1  9월20일(월)   월   기상시간    인적성(SK): 2시간31분              NaN        NaN  NaN
2  9월21일(화)   화   기상시간   인적성(SK):  3시간58분              NaN        NaN  NaN
3  9월22일(수)   수   기상시간    인적성(SK): 1시간31분              NaN        NaN  NaN
4  9월24일(금)   금   기상시간           자소서: 5시간              NaN        NaN  NaN

In [272]:
#기상시간 결측값 처리
for i, j in enumerate(df_date['wakeUp']):
    if j == '기상시간':
        df_date['wakeUp'][i] = 'NaN'

In [273]:
df_date.tail(5)

,date,day,wakeUp,1,2,3,4
37,11월8일(월),월,6시,NaN,자소서(LG이노텍): 5시간,자소사(고려해운): 1시간 30분,면접(경동나비엔): 5시간 30분
38,11월9일(화),화,10시30분,NaN,면접(경동나비엔): 4시간,자소서(현대트랜시스): 2시간 40분,NaN
39,11월10일(수),수,11시,NaN,전공공부: 1시간 58분,NaN,NaN
40,11월11일(목),목,9시45분,NaN,독서: 37분,시사/이슈: 23분,NaN
41,11월13일(토),토,14시,NaN,자기소개서(LIG넥스원): 40분,자기소개서(SK온): 1시간 23분,자기소개서(세아제강): 46분

In [274]:
df_date

,date,day,wakeUp,1,2,3,4
0,9월19일(일),일,NaN,산업공부(자동차): 1시간14분,인적성(SK): 2시간40분,총: 3시간54분,NaN
1,9월20일(월),월,NaN,인적성(SK): 2시간31분,NaN,NaN,NaN
2,9월21일(화),화,NaN,인적성(SK): 3시간58분,NaN,NaN,NaN
3,9월22일(수),수,NaN,인적성(SK): 1시간31분,NaN,NaN,NaN
4,9월24일(금),금,NaN,자소서: 5시간,NaN,NaN,NaN
5,9월25일(토),토,NaN,인적성(SK): 5시간,NaN,NaN,NaN
6,9월29일(수),수,9시30분,NaN,산업공부(자동차): 2시간26분,NaN,NaN
7,9월30일(목),목,10시30분,NaN,자소서(LG전자): 1시간6분,NaN,NaN
8,10월1일(금),금,8시30분,NaN,자소서(LG전자): 1시간53분,영어면접: 30분,NaN
9,10월2일(토),토,12시30분,NaN,인적성(GSAT): 53분,영어면접: 20분,NaN
10,10월3일(일),일,13시,NaN,인적성(포스코): 3시간 43분,영어면접: 33분,NaN
11,10월4일(월),월,7시,NaN,자소서(LG전자): 3시간,NaN,NaN
12,10월5일(화),화,10시 30분,NaN,영어면접: 33분,NaN,NaN
13,10월6일(수),수,19시,NaN,인적성(포스코): 2시간 50분,NaN,NaN
14,10월7일(목),목,9시,NaN,인적성(포스코): 1시간 20분,영어면접: 28분,NaN
15,10월8일(금),금,18시30분,NaN,인적성(포스코): 5시간 6분,NaN,NaN
16,10월9일(토),토,8시30분,NaN,인적성(포스코): 2시간 30분,NaN,NaN
17,10월10일(일),일,11시,NaN,NaN,NaN,NaN
18,10월11일(월),월,10시 15분,NaN,면접(포스코): 20분,영어면접: 25분,NaN
19,10월12일(화),화,11시,NaN,면접(포스코): 1시간 45분,NaN,NaN
20,10월13일(수),수,10시 30분,NaN,면접(영어): 48분,면접(포스코): 8분,NaN
21,10월14일(목),목,10시 30분,NaN,자소서(LS): 20분,면접(영어): 30분,자소서(현대제철): 1시간
22,10월21일(목),목,9시 15분,NaN,자소서(현대자동차): 1시간 41분,NaN,NaN
23,10월22일(금),금,11시,NaN,자소서(현대자동차): 53분,NaN,NaN
24,10월23일(토),토,13시,NaN,자소서(현대자동차): 5시간 39분,NaN,NaN
25,10월25일(월),월,NaN,기업찾기: 40분,NaN,NaN,NaN
26,10월26일(화),화,10시,NaN,"면접(AI,동원): 34분",NaN,NaN
27,10월27일(수),수,10시 45분,NaN,기업찾기: 16분,직무공부: 2시간 10분,자소서(ssg): 1시간 50분
28,10월28일(목),목,11시,NaN,"면접(AI,동원): 34분",자소서(ssg): 2시간,NaN
29,10월30일(토),토,13시,NaN,"면접(AI,동원): 11시간 4분",자소서(한화정밀기계): 23분,NaN
30,10월31일(일),일,10시 15분,NaN,"면접(AI,동원): 2시간 30분",자소서(한화정밀기계): 1시간 19분,NaN
31,11월1일(월),월,10시 45분,NaN,면접(경동나비엔): 3시간 12분,자소서(이화다이아몬드): 1시간 30분,NaN
32,11월2일(화),화,10시 15분,NaN,기업찾기: 24분,면접(경동나비엔): 2시간 49분,NaN
33,11월3일(수),수,12시,NaN,자소서(원익): 3시간 10분,NaN,NaN
34,11월4일(목),목,10시 30분,NaN,면접(경동나비엔): 1시간 21분,자소서(LG이노텍): 38분,시사이슈: 25분
35,11월5일(금),금,12시,NaN,면접(경동나비엔): 1시간 5분,자소서(LG이노텍): 1시간 46분,NaN
36,11월6일(토),토,11시,NaN,전공공부: 1시간 13분,NaN,NaN
37,11월8일(월),월,6시,NaN,자소서(LG이노텍): 5시간,자소사(고려해운): 1시간 30분,면접(경동나비엔): 5시간 30분
38,11월9일(화),화,10시30분,NaN,면접(경동나비엔): 4시간,자소서(현대트랜시스): 2시간 40분,NaN
39,11월10일(수),수,11시,NaN,전공공부: 1시간 58분,NaN,NaN
40,11월11일(목),목,9시45분,NaN,독서: 37분,시사/이슈: 23분,NaN
41,11월13일(토),토,14시,NaN,자기소개서(LIG넥스원): 40분,자기소개서(SK온): 1시간 23분,자기소개서(세아제강): 46분

In [281]:
#활동내용을 식별하는 열 추가
for i, j in enumerate(df_date[1]):
    for n, m in enumerate(j):
        if m == ":":
            name = df_date[1][i][:n]
            col_len = len(df_date.columns)
            if name not in df_date.columns:
                df_date.insert(col_len, name, 'NaN')

for i, j in enumerate(df_date[2]):
    if type(j) == str:
        for n, m in enumerate(j):
            if m == ":":
                name = df_date[2][i][:n]
                col_len = len(df_date.columns)
                if name not in df_date.columns:
                    df_date.insert(col_len, name, 'NaN')
                    
for i, j in enumerate(df_date[3]):
    if type(j) == str:
        for n, m in enumerate(j):
            if m == ":":
                name = df_date[3][i][:n]
                col_len = len(df_date.columns)
                if name not in df_date.columns:
                    df_date.insert(col_len, name, 'NaN')
                    
for i, j in enumerate(df_date[4]):
    if type(j) == str:
        for n, m in enumerate(j):
            if m == ":":
                name = df_date[4][i][:n]
                col_len = len(df_date.columns)
                if name not in df_date.columns:
                    df_date.insert(col_len, name, 'NaN')

In [284]:
df_date.columns
df_date

,date,day,wakeUp,1,2,3,4,산업공부(자동차),인적성(SK),자소서,기업찾기,자소서(LG전자),인적성(GSAT),인적성(포스코),영어면접,면접(포스코),면접(영어),자소서(LS),자소서(현대자동차),"면접(AI,동원)",면접(경동나비엔),자소서(원익),전공공부,자소서(LG이노텍),독서,자기소개서(LIG넥스원),총,직무공부,자소서(ssg),자소서(한화정밀기계),자소서(이화다이아몬드),자소사(고려해운),자소서(현대트랜시스),시사/이슈,자기소개서(SK온),자소서(현대제철),시사이슈,자기소개서(세아제강)
0,9월19일(일),일,NaN,산업공부(자동차): 1시간14분,인적성(SK): 2시간40분,총: 3시간54분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9월20일(월),월,NaN,인적성(SK): 2시간31분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9월21일(화),화,NaN,인적성(SK): 3시간58분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9월22일(수),수,NaN,인적성(SK): 1시간31분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9월24일(금),금,NaN,자소서: 5시간,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,9월25일(토),토,NaN,인적성(SK): 5시간,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,9월29일(수),수,9시30분,NaN,산업공부(자동차): 2시간26분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,9월30일(목),목,10시30분,NaN,자소서(LG전자): 1시간6분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10월1일(금),금,8시30분,NaN,자소서(LG전자): 1시간53분,영어면접: 30분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10월2일(토),토,12시30분,NaN,인적성(GSAT): 53분,영어면접: 20분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10월3일(일),일,13시,NaN,인적성(포스코): 3시간 43분,영어면접: 33분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10월4일(월),월,7시,NaN,자소서(LG전자): 3시간,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10월5일(화),화,10시 30분,NaN,영어면접: 33분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,10월6일(수),수,19시,NaN,인적성(포스코): 2시간 50분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,10월7일(목),목,9시,NaN,인적성(포스코): 1시간 20분,영어면접: 28분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,10월8일(금),금,18시30분,NaN,인적성(포스코): 5시간 6분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10월9일(토),토,8시30분,NaN,인적성(포스코): 2시간 30분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,10월10일(일),일,11시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,10월11일(월),월,10시 15분,NaN,면접(포스코): 20분,영어면접: 25분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,10월12일(화),화,11시,NaN,면접(포스코): 1시간 45분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,10월13일(수),수,10시 30분,NaN,면접(영어): 48분,면접(포스코): 8분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,10월14일(목),목,10시 30분,NaN,자소서(LS): 20분,면접(영어): 30분,자소서(현대제철): 1시간,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,10월21일(목),목,9시 15분,NaN,자소서(현대자동차): 1시간 41분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,10월22일(금),금,11시,NaN,자소서(현대자동차): 53분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,10월23일(토),토,13시,NaN,자소서(현대자동차): 5시간 39분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,10월25일(월),월,NaN,기업찾기: 40분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,10월26일(화),화,10시,NaN,"면접(AI,동원): 34분",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,10월27일(수),수,10시 45분,NaN,기업찾기: 16분,직무공부: 2시간 10분,자소서(ssg): 1시간 50분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,10월28일(목),목,11시,NaN,"면접(AI,동원): 34분",자소서(ssg): 2시간,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,10월30일(토),토,13시,NaN,"면접(AI,동원): 11시간 4분",자소서(한화정밀기계): 23분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,10월31일(일),일,10시 15분,NaN,"면접(AI,동원): 2시간 30분",자소서(한화정밀기계): 1시간 19분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,11월1일(월),월,10시 45분,NaN,면접(경동나비엔): 3시간 12분,자소서(이화다이아몬드): 1시간 30분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,11월2일(화),화,10시 15분,NaN,기업찾기: 24분,면접(경동나비엔): 2시간 49분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,11월3일(수),수,12시,NaN,자소서(원익): 3시간 10분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,11월4일(목),목,10시 30분,NaN,면접(경동나비엔): 1시간 21분,자소서(LG이노텍): 38분,시사이슈: 25분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,11월5일(금),금,12시,NaN,면접(경동나비엔): 1시간 5분,자소서(LG이노텍): 1시간 46분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,11월6일(토),토,11시,NaN,전공공부: 1시간 13분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,11월8일(월),월,6시,NaN,자소서(LG이노텍): 5시간,자소사(고려해운): 1시간 30분,면접(경동나비엔): 5시간 30분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,11월9일(화),화,10시30분,NaN,면접(경동나비엔): 4시간,자소서(현대트랜시스): 2시간 40분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,11월10일(수),수,11시,NaN,전공공부: 1시간 58분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,11월11일(목),목,9시45분,NaN,독서: 37분,시사/이슈: 23분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,11월13일(토),토,14시,NaN,자기소개서(LIG넥스원): 40분,자기소개서(SK온): 1시간 23분,자기소개서(세아제강): 46분,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#활동내용을 식별하는 값 추가
for i, j in enumerate(df_date[1]):
    for n, m in enumerate(j):
        if m == ":":
            name = df_date[1][i][:n]
            col_len = len(df_date.columns)
            if name not in df_date.columns:
                df_date[name]

for i, j in enumerate(df_date[2]):
    if type(j) == str:
        for n, m in enumerate(j):
            if m == ":":
                name = df_date[2][i][:n]
                col_len = len(df_date.columns)
                if name not in df_date.columns:
                    df_date.insert(col_len, name, 'NaN')
                    
for i, j in enumerate(df_date[3]):
    if type(j) == str:
        for n, m in enumerate(j):
            if m == ":":
                name = df_date[3][i][:n]
                col_len = len(df_date.columns)
                if name not in df_date.columns:
                    df_date.insert(col_len, name, 'NaN')
                    
for i, j in enumerate(df_date[4]):
    if type(j) == str:
        for n, m in enumerate(j):
            if m == ":":
                name = df_date[4][i][:n]
                col_len = len(df_date.columns)
                if name not in df_date.columns:
                    df_date.insert(col_len, name, 'NaN')