In [741]:
import pandas as pd
import numpy as np

In [742]:
#데이터 전처리
df=pd.read_excel('D:\\Time.xlsx', header=None, index_col=None)
df.head()

        0                1              2          3    4
0  9월19(일  산업공부_자동차:1시간14분  인적성_SK:2시간40분  총합:3시간54분  NaN
1  9월20(월    인적성_SK:2시간31분            NaN        NaN  NaN
2  9월21(화    인적성_SK:3시간58분            NaN        NaN  NaN
3  9월22(수    인적성_SK:1시간31분            NaN        NaN  NaN
4  9월24(금        자기소개서:5시간            NaN        NaN  NaN

In [743]:
df_date=df.rename(columns={0:'date'})
df_date.head()

     date                1              2          3    4
0  9월19(일  산업공부_자동차:1시간14분  인적성_SK:2시간40분  총합:3시간54분  NaN
1  9월20(월    인적성_SK:2시간31분            NaN        NaN  NaN
2  9월21(화    인적성_SK:3시간58분            NaN        NaN  NaN
3  9월22(수    인적성_SK:1시간31분            NaN        NaN  NaN
4  9월24(금        자기소개서:5시간            NaN        NaN  NaN

In [744]:
#요일을 식별하는 열 추가
df_date.insert(1,"day",'요일')
df_date.head()

     date day                1              2          3    4
0  9월19(일  요일  산업공부_자동차:1시간14분  인적성_SK:2시간40분  총합:3시간54분  NaN
1  9월20(월  요일    인적성_SK:2시간31분            NaN        NaN  NaN
2  9월21(화  요일    인적성_SK:3시간58분            NaN        NaN  NaN
3  9월22(수  요일    인적성_SK:1시간31분            NaN        NaN  NaN
4  9월24(금  요일        자기소개서:5시간            NaN        NaN  NaN

In [745]:
#요일을 식별하는 값 추가
for i, j in enumerate(df_date['date']):
    for n, m in enumerate(j):
        if m == "(":
            #print(df_date['date'][i][n+1])
            df_date['day'][i] = df_date['date'][i][n+1]
df_date.head()

     date day                1              2          3    4
0  9월19(일   일  산업공부_자동차:1시간14분  인적성_SK:2시간40분  총합:3시간54분  NaN
1  9월20(월   월    인적성_SK:2시간31분            NaN        NaN  NaN
2  9월21(화   화    인적성_SK:3시간58분            NaN        NaN  NaN
3  9월22(수   수    인적성_SK:1시간31분            NaN        NaN  NaN
4  9월24(금   금        자기소개서:5시간            NaN        NaN  NaN

In [747]:
#기상시간을 식별하는 열 추가
df_date.insert(2,"wakeUp",'기상시간')
df_date.head()

     date day wakeUp                1              2          3    4
0  9월19(일   일   기상시간  산업공부_자동차:1시간14분  인적성_SK:2시간40분  총합:3시간54분  NaN
1  9월20(월   월   기상시간    인적성_SK:2시간31분            NaN        NaN  NaN
2  9월21(화   화   기상시간    인적성_SK:3시간58분            NaN        NaN  NaN
3  9월22(수   수   기상시간    인적성_SK:1시간31분            NaN        NaN  NaN
4  9월24(금   금   기상시간        자기소개서:5시간            NaN        NaN  NaN

In [749]:
#기상시간을 식별하는 값 추가
for i, j in enumerate(df_date[1]):
    for n, m in enumerate(j):
        if m == "기":
            if df_date[1][i][n+1] == "상":
                df_date['wakeUp'][i] = df_date[1][i][n+5:]
                df_date[1][i] = 0
df_date.head()

     date day wakeUp                1              2          3    4
0  9월19(일   일   기상시간  산업공부_자동차:1시간14분  인적성_SK:2시간40분  총합:3시간54분  NaN
1  9월20(월   월   기상시간    인적성_SK:2시간31분            NaN        NaN  NaN
2  9월21(화   화   기상시간    인적성_SK:3시간58분            NaN        NaN  NaN
3  9월22(수   수   기상시간    인적성_SK:1시간31분            NaN        NaN  NaN
4  9월24(금   금   기상시간        자기소개서:5시간            NaN        NaN  NaN

In [750]:
#기상시간 결측값 처리
for i, j in enumerate(df_date['wakeUp']):
    if j == '기상시간':
        df_date['wakeUp'][i] = 0

In [751]:
df_date.tail(5)

,date,day,wakeUp,1,2,3,4
37,11월8(월,월,6시,0,자기소개서_LG이노텍:5시간,자기소개서_고려해운:1시간30분,면접_경동나비엔:5시간30분
38,11월9(화,화,10시30분,0,면접_경동나비엔:4시간,자기소개서_현대트랜시스:2시간40분,NaN
39,11월10(수,수,11시,0,전공공부:1시간58분,NaN,NaN
40,11월11(목,목,9시45분,0,독서:37분,시사/이슈:23분,NaN
41,11월13(토,토,14시,0,자기소개서_LIG넥스원:40분,자기소개서_SK온:1시간23분,자기소개서_세아제강:46분

In [755]:
#활동내용을 식별하는 열 추가
for i, j in enumerate(df_date[1]):
    if j != 0:
        for n, m in enumerate(j):
            if m == ":":
                name = df_date[1][i][:n]
                col_len = len(df_date.columns)
                if name not in df_date.columns:
                    df_date.insert(col_len, name, 0)

for i, j in enumerate(df_date[2]):
    if type(j) == str:
        for n, m in enumerate(j):
            if m == ":":
                name = df_date[2][i][:n]
                col_len = len(df_date.columns)
                if name not in df_date.columns:
                    df_date.insert(col_len, name, 0)
                    
for i, j in enumerate(df_date[3]):
    if type(j) == str:
        for n, m in enumerate(j):
            if m == ":":
                name = df_date[3][i][:n]
                col_len = len(df_date.columns)
                if name not in df_date.columns:
                    df_date.insert(col_len, name, 0)
                    
for i, j in enumerate(df_date[4]):
    if type(j) == str:
        for n, m in enumerate(j):
            if m == ":":
                name = df_date[4][i][:n]
                col_len = len(df_date.columns)
                if name not in df_date.columns:
                    df_date.insert(col_len, name, 0)

In [757]:
#활동내용을 식별하는 값 추가
for i, j in enumerate(df_date[1]):
    if type(j) == str:
        for n, m in enumerate(j):
            if m == ":":
                name = df_date[1][i][:n]
                df_date[name][i] = df_date[1][i][n+1:]
                df_date[1][i] = 0

for i, j in enumerate(df_date[2]):
    if type(j) == str:
        for n, m in enumerate(j):
            if m == ":":
                name = df_date[2][i][:n]
                df_date[name][i] = df_date[2][i][n+1:]
                df_date[2][i] = 0
                    
for i, j in enumerate(df_date[3]):
    if type(j) == str:
        for n, m in enumerate(j):
            if m == ":":
                name = df_date[3][i][:n]
                df_date[name][i] = df_date[3][i][n+1:]
                df_date[3][i] = 0
                    
for i, j in enumerate(df_date[4]):
    if type(j) == str:
        for n, m in enumerate(j):
            if m == ":":
                name = df_date[4][i][:n]
                df_date[name][i] = df_date[4][i][n+1:]
                df_date[4][i] = 0

<ipython-input-757-8b438ba649c2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_date[name][i] = df_date[1][i][n+1:]
D:\ana\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
<ipython-input-757-8b438ba649c2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_date[1][i] = 0
<ipython-input-757-8b438ba649c2>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_date[name][i] = df_date[2][i][n+1:]
<ipython-input-757-8b438ba649c2>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_date[2][i] = 0
<ipython-input-757-8b438ba649c2>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_date[name][i] = df_date[3][i][n+1:]
<ipython-input-757-8b438ba649c2>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_date[3][i] = 0
<ipython-input-757-8b438ba649c2>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_date[name][i] = df_date[4][i][n+1:]
<ipython-input-757-8b438ba649c2>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_date[4][i] = 0

In [758]:
#값을 채운 후 필요없는 열 드랍
df_total=df_date.drop([1,2,3,4], axis=1)

In [764]:
#시간을 분 단위로 단위 변환
df_new = df_total.drop(['wakeUp'],axis=1)
for i, j in enumerate(df_new):
    for n, m in enumerate(df_new[j]):
        if m != 0:

            if '분' in m:
                if '시' in m:
                    for a, b in enumerate(m):
                        if b == '시':
                            hour = int(m[:a]) * 60
                            minn = int(m[a+2:5])
                    df_new[j][n] = hour+minn

            if '시' in m:
                if not '분' in m:
                    for a, b in enumerate(m):
                        if b == '시':
                            hour = int(m[:a]) * 60
                    df_new[j][n] = hour

            if '분' in m:
                if not '시' in m:
                    for a, b in enumerate(m):
                        if b == '분':
                            minn = int(m[:a])
                    df_new[j][n] = minn        
df_new.head()

,date,day,산업공부_자동차,인적성_SK,자기소개서,기업찾기,자기소개서_LG전자,인적성_삼성전자,인적성_포스코,면접_영어,면접_포스코,자기소개서_LS,자기소개서_현대자동차,면접_동원,면접_경동나비엔,자기소개서_원익,전공공부,자기소개서_LG이노텍,독서,자기소개서_LIG넥스원,총합,직무공부,자기소개서_ssg,자기소개서_한화정밀기계,자기소개서_이화다이아몬드,자기소개서_고려해운,자기소개서_현대트랜시스,시사/이슈,자기소개서_SK온,자기소개서_현대제철,자기소개서_세아제강
0,9월19(일,일,74,160,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,234,0,0,0,0,0,0,0,0,0,0
1,9월20(월,월,0,151,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,9월21(화,화,0,238,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,9월22(수,수,0,91,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,9월24(금,금,0,0,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,9월25(토,토,0,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,9월29(수,수,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,9월30(목,목,0,0,0,0,66,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,10월1(금,금,0,0,0,0,113,0,0,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,10월2(토,토,0,0,0,0,0,53,0,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,10월3(일,일,0,0,0,0,0,0,223,33,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,10월4(월,월,0,0,0,0,180,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,10월5(화,화,0,0,0,0,0,0,0,33,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,10월6(수,수,0,0,0,0,0,0,170,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,10월7(목,목,0,0,0,0,0,0,80,28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,10월8(금,금,0,0,0,0,0,0,306,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,10월9(토,토,0,0,0,0,0,0,150,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,10월10(일,일,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,10월11(월,월,0,0,0,0,0,0,0,25,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,10월12(화,화,0,0,0,0,0,0,0,0,105,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20,10월13(수,수,0,0,0,0,0,0,0,48,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,10월14(목,목,0,0,0,0,0,0,0,30,0,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,60,0
22,10월21(목,목,0,0,0,0,0,0,0,0,0,0,101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,10월22(금,금,0,0,0,0,0,0,0,0,0,0,53,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24,10월23(토,토,0,0,0,0,0,0,0,0,0,0,339,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25,10월25(월,월,0,0,0,40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,10월26(화,화,0,0,0,0,0,0,0,0,0,0,0,34,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27,10월27(수,수,0,0,0,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,130,110,0,0,0,0,0,0,0,0
28,10월28(목,목,0,0,0,0,0,0,0,0,0,0,0,34,0,0,0,0,0,0,0,0,120,0,0,0,0,0,0,0,0
29,10월30(토,토,0,0,0,0,0,0,0,0,0,0,0,660,0,0,0,0,0,0,0,0,0,23,0,0,0,0,0,0,0
30,10월31(일,일,0,0,0,0,0,0,0,0,0,0,0,150,0,0,0,0,0,0,0,0,0,79,0,0,0,0,0,0,0
31,11월1(월,월,0,0,0,0,0,0,0,0,0,0,0,0,192,0,0,0,0,0,0,0,0,0,90,0,0,0,0,0,0
32,11월2(화,화,0,0,0,24,0,0,0,0,0,0,0,0,169,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
33,11월3(수,수,0,0,0,0,0,0,0,0,0,0,0,0,0,190,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
34,11월4(목,목,0,0,0,0,0,0,0,0,0,0,0,0,81,0,0,38,0,0,0,0,0,0,0,0,0,25,0,0,0
35,11월5(금,금,0,0,0,0,0,0,0,0,0,0,0,0,65,0,0,106,0,0,0,0,0,0,0,0,0,0,0,0,0
36,11월6(토,토,0,0,0,0,0,0,0,0,0,0,0,0,0,0,73,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37,11월8(월,월,0,0,0,0,0,0,0,0,0,0,0,0,330,0,0,300,0,0,0,0,0,0,0,90,0,0,0,0,0
38,11월9(화,화,0,0,0,0,0,0,0,0,0,0,0,0,240,0,0,0,0,0,0,0,0,0,0,0,160,0,0,0,0
39,11월10(수,수,0,0,0,0,0,0,0,0,0,0,0,0,0,0,118,0,0,0,0,0,0,0,0,0,0,0,0,0,0
40,11월11(목,목,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,37,0,0,0,0,0,0,0,0,23,0,0,0
41,11월13(토,토,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40,0,0,0,0,0,0,0,0,83,0,46

In [768]:
# 자기소개서, 인적성, 면접 총합을 나타내는 열 추가
for i, j in enumerate(df_new):
    if '자기소개서_' in j:
        #print(j)
        for n,k in enumerate(df_new[j]):
            if type(k) == int:
                if df_new['자기소개서'][n] == 'NaN':
                    df_new['자기소개서'][n] = k
                else :
                    df_new['자기소개서'][n]= df_new['자기소개서'][n] + k
                    
df_new.insert(len(df_new.columns),"인적성",'NaN')
for i, j in enumerate(df_new):
    if '인적성_' in j:
        for n,k in enumerate(df_new[j]):
            if type(k) == int:
                if df_new['인적성'][n] == 'NaN':
                    df_new['인적성'][n] = k
                else :
                    df_new['인적성'][n]= df_new['인적성'][n] + k

df_new.insert(len(df_new.columns),"면접",'NaN')
for i, j in enumerate(df_new):
    if '면접_' in j:
        for n,k in enumerate(df_new[j]):
            if type(k) == int:
                if df_new['면접'][n] == 'NaN':
                    df_new['면접'][n] = k
                else :
                    df_new['면접'][n]= df_new['면접'][n] + k

In [770]:
df_new.head()

,date,day,산업공부_자동차,인적성_SK,자기소개서,기업찾기,자기소개서_LG전자,인적성_삼성전자,인적성_포스코,면접_영어,면접_포스코,자기소개서_LS,자기소개서_현대자동차,면접_동원,면접_경동나비엔,자기소개서_원익,전공공부,자기소개서_LG이노텍,독서,자기소개서_LIG넥스원,총합,직무공부,자기소개서_ssg,자기소개서_한화정밀기계,자기소개서_이화다이아몬드,자기소개서_고려해운,자기소개서_현대트랜시스,시사/이슈,자기소개서_SK온,자기소개서_현대제철,자기소개서_세아제강,인적성,면접
0,9월19(일,일,74,160,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,234,0,0,0,0,0,0,0,0,0,0,160,0
1,9월20(월,월,0,151,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,151,0
2,9월21(화,화,0,238,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,238,0
3,9월22(수,수,0,91,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,91,0
4,9월24(금,금,0,0,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,9월25(토,토,0,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,300,0
6,9월29(수,수,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,9월30(목,목,0,0,66,0,66,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,10월1(금,금,0,0,113,0,113,0,0,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30
9,10월2(토,토,0,0,0,0,0,53,0,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,53,20
10,10월3(일,일,0,0,0,0,0,0,223,33,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,223,33
11,10월4(월,월,0,0,180,0,180,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,10월5(화,화,0,0,0,0,0,0,0,33,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,33
13,10월6(수,수,0,0,0,0,0,0,170,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,170,0
14,10월7(목,목,0,0,0,0,0,0,80,28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,80,28
15,10월8(금,금,0,0,0,0,0,0,306,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,306,0
16,10월9(토,토,0,0,0,0,0,0,150,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,150,0
17,10월10(일,일,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,10월11(월,월,0,0,0,0,0,0,0,25,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,45
19,10월12(화,화,0,0,0,0,0,0,0,0,105,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,105
20,10월13(수,수,0,0,0,0,0,0,0,48,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,56
21,10월14(목,목,0,0,80,0,0,0,0,30,0,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,60,0,0,30
22,10월21(목,목,0,0,101,0,0,0,0,0,0,0,101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,10월22(금,금,0,0,53,0,0,0,0,0,0,0,53,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24,10월23(토,토,0,0,339,0,0,0,0,0,0,0,339,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25,10월25(월,월,0,0,0,40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,10월26(화,화,0,0,0,0,0,0,0,0,0,0,0,34,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,34
27,10월27(수,수,0,0,110,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,130,110,0,0,0,0,0,0,0,0,0,0
28,10월28(목,목,0,0,120,0,0,0,0,0,0,0,0,34,0,0,0,0,0,0,0,0,120,0,0,0,0,0,0,0,0,0,34
29,10월30(토,토,0,0,23,0,0,0,0,0,0,0,0,660,0,0,0,0,0,0,0,0,0,23,0,0,0,0,0,0,0,0,660
30,10월31(일,일,0,0,79,0,0,0,0,0,0,0,0,150,0,0,0,0,0,0,0,0,0,79,0,0,0,0,0,0,0,0,150
31,11월1(월,월,0,0,90,0,0,0,0,0,0,0,0,0,192,0,0,0,0,0,0,0,0,0,90,0,0,0,0,0,0,0,192
32,11월2(화,화,0,0,0,24,0,0,0,0,0,0,0,0,169,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,169
33,11월3(수,수,0,0,190,0,0,0,0,0,0,0,0,0,0,190,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
34,11월4(목,목,0,0,38,0,0,0,0,0,0,0,0,0,81,0,0,38,0,0,0,0,0,0,0,0,0,25,0,0,0,0,81
35,11월5(금,금,0,0,106,0,0,0,0,0,0,0,0,0,65,0,0,106,0,0,0,0,0,0,0,0,0,0,0,0,0,0,65
36,11월6(토,토,0,0,0,0,0,0,0,0,0,0,0,0,0,0,73,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37,11월8(월,월,0,0,390,0,0,0,0,0,0,0,0,0,330,0,0,300,0,0,0,0,0,0,0,90,0,0,0,0,0,0,330
38,11월9(화,화,0,0,160,0,0,0,0,0,0,0,0,0,240,0,0,0,0,0,0,0,0,0,0,0,160,0,0,0,0,0,240
39,11월10(수,수,0,0,0,0,0,0,0,0,0,0,0,0,0,0,118,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
40,11월11(목,목,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,37,0,0,0,0,0,0,0,0,23,0,0,0,0,0
41,11월13(토,토,0,0,169,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40,0,0,0,0,0,0,0,0,83,0,46,0,0

In [778]:
df_new.columns

Index(['date', 'day', '총합', '자기소개서', '면접', '인적성', '전공공부', '시사/이슈', '직무공부',
       '기업찾기', '독서', '산업공부_자동차', '자기소개서_LG전자', '자기소개서_원익', '자기소개서_LG이노텍',
       '자기소개서_LIG넥스원', '자기소개서_ssg', '자기소개서_한화정밀기계', '자기소개서_이화다이아몬드',
       '자기소개서_고려해운', '자기소개서_현대자동차', '자기소개서_현대트랜시스', '자기소개서_SK온', '자기소개서_현대제철',
       '자기소개서_세아제강', '자기소개서_LS', '면접_동원', '면접_경동나비엔', '면접_영어', '면접_포스코',
       '인적성_SK', '인적성_삼성전자', '인적성_포스코'],
      dtype='object')

In [779]:
df_new = df_new[['date', 'day', '총합','자기소개서' ,'면접' , '인적성', '전공공부', '시사/이슈', '직무공부', '기업찾기', '독서', 
                 '산업공부_자동차', '자기소개서_LG전자', '자기소개서_원익',  '자기소개서_LG이노텍','자기소개서_LIG넥스원', 
                 '자기소개서_ssg', '자기소개서_한화정밀기계','자기소개서_이화다이아몬드', '자기소개서_고려해운', 
                 '자기소개서_현대자동차',
                 '자기소개서_현대트랜시스' ,  '자기소개서_SK온', '자기소개서_현대제철', '자기소개서_세아제강', '자기소개서_LS',
           '면접_동원', '면접_경동나비엔', '면접_영어', '면접_포스코',
                 '인적성_SK','인적성_삼성전자', '인적성_포스코',   
      ]]

In [781]:
#총합을 나타내는 열 계산
for i in range(0,len(df_new)):
    df_new['총합'][i] = df_new['자기소개서'][i] + df_new['면접'][i]+ df_new['인적성'][i]+ df_new['전공공부'][i]+ df_new['시사/이슈'][i]+ df_new['직무공부'][i]+ df_new['기업찾기'][i]+ df_new['독서'][i]+ df_new['산업공부_자동차'][i]

<ipython-input-781-5c2c3a6a280a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['총합'][i] = df_new['자기소개서'][i] + df_new['면접'][i]+ df_new['인적성'][i]+ df_new['전공공부'][i]+ df_new['시사/이슈'][i]+ df_new['직무공부'][i]+ df_new['기업찾기'][i]+ df_new['독서'][i]+ df_new['산업공부_자동차'][i]

In [803]:
#기상시간 열 다시 합체
df_wake=df_total.drop(['date', 'day', '산업공부_자동차', '인적성_SK', '자기소개서', '기업찾기',
       '자기소개서_LG전자', '인적성_삼성전자', '인적성_포스코', '면접_영어', '면접_포스코', '자기소개서_LS',
       '자기소개서_현대자동차', '면접_동원', '면접_경동나비엔', '자기소개서_원익', '전공공부', '자기소개서_LG이노텍',
       '독서', '자기소개서_LIG넥스원', '총합', '직무공부', '자기소개서_ssg', '자기소개서_한화정밀기계',
       '자기소개서_이화다이아몬드', '자기소개서_고려해운', '자기소개서_현대트랜시스', '시사/이슈', '자기소개서_SK온',
       '자기소개서_현대제철', '자기소개서_세아제강'],axis=1)
df_final = pd.concat([df_new,df_wake],axis=1)

In [843]:
df_final.head()

,date,day,wakeUp,총합,자기소개서,면접,인적성,전공공부,시사/이슈,직무공부,기업찾기,독서,산업공부_자동차,자기소개서_LG전자,자기소개서_원익,자기소개서_LG이노텍,자기소개서_LIG넥스원,자기소개서_ssg,자기소개서_한화정밀기계,자기소개서_이화다이아몬드,자기소개서_고려해운,자기소개서_현대자동차,자기소개서_현대트랜시스,자기소개서_SK온,자기소개서_현대제철,자기소개서_세아제강,자기소개서_LS,면접_동원,면접_경동나비엔,면접_영어,면접_포스코,인적성_SK,인적성_삼성전자,인적성_포스코
0,9월19(일,일,0,234,0,0,160,0,0,0,0,0,74,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,160,0,0
1,9월20(월,월,0,151,0,0,151,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,151,0,0
2,9월21(화,화,0,238,0,0,238,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,238,0,0
3,9월22(수,수,0,91,0,0,91,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,91,0,0
4,9월24(금,금,0,300,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [805]:
#순서 정렬
df_final = df_final[['date', 'day', 'wakeUp', '총합','자기소개서' ,'면접' , '인적성', '전공공부', '시사/이슈', '직무공부', '기업찾기', '독서', 
                 '산업공부_자동차', '자기소개서_LG전자', '자기소개서_원익',  '자기소개서_LG이노텍','자기소개서_LIG넥스원', 
                 '자기소개서_ssg', '자기소개서_한화정밀기계','자기소개서_이화다이아몬드', '자기소개서_고려해운', 
                 '자기소개서_현대자동차',
                 '자기소개서_현대트랜시스' ,  '자기소개서_SK온', '자기소개서_현대제철', '자기소개서_세아제강', '자기소개서_LS',
           '면접_동원', '면접_경동나비엔', '면접_영어', '면접_포스코',
                 '인적성_SK','인적성_삼성전자', '인적성_포스코',   
      ]]

In [844]:
df_final.head()

,date,day,wakeUp,총합,자기소개서,면접,인적성,전공공부,시사/이슈,직무공부,기업찾기,독서,산업공부_자동차,자기소개서_LG전자,자기소개서_원익,자기소개서_LG이노텍,자기소개서_LIG넥스원,자기소개서_ssg,자기소개서_한화정밀기계,자기소개서_이화다이아몬드,자기소개서_고려해운,자기소개서_현대자동차,자기소개서_현대트랜시스,자기소개서_SK온,자기소개서_현대제철,자기소개서_세아제강,자기소개서_LS,면접_동원,면접_경동나비엔,면접_영어,면접_포스코,인적성_SK,인적성_삼성전자,인적성_포스코
0,9월19(일,일,0,234,0,0,160,0,0,0,0,0,74,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,160,0,0
1,9월20(월,월,0,151,0,0,151,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,151,0,0
2,9월21(화,화,0,238,0,0,238,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,238,0,0
3,9월22(수,수,0,91,0,0,91,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,91,0,0
4,9월24(금,금,0,300,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [868]:
df_final.to_excel("D:\\Time_final.xlsx")